.bg-oscure{
    height: 25vh;
    background-color: rgba(20, 20, 20, 0.637);
    background-blend-mode: soft-light;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}

.font-varios{
    font-family: 'Dela Gothic One', cursive;
    font-size: small;
}